[submodule "webots/robot_modules"]
	path = webots/robot_modules
	url = https://github.com/yuntian137/leg_robot.git
[submodule "libs/observer"]
	path = libs/observer
	url = https://github.com/egd060708/observer_module.git
